<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>系统主页之错误页面404</title>
	<!-- Bootstrap core CSS -->
	<link href="asserts/css/bootstrap.min.css" rel="stylesheet">

	<!-- Custom styles for this template -->
	<link href="asserts/css/dashboard.css" th:href="@{/asserts/css/dashboard.css}"  rel="stylesheet">
	<style type="text/css">
		/* Chart.js */
		@-webkit-keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		@keyframes chartjs-render-animation {
			from {
				opacity: 0.99
			}
			to {
				opacity: 1
			}
		}

		.chartjs-render-monitor {
			-webkit-animation: chartjs-render-animation 0.001s;
			animation: chartjs-render-animation 0.001s;
		}
	</style>
</head>

<body>

<div th:replace="comments/bar :: upitem"></div>

<div class="container-fluid">
	<div class="row">

		<div th:replace="comments/bar::#rightitem(activeUri='emps')"></div>

		<main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
			状态码:[[${status}]]<br/>
			时间:[[${#dates.format(timestamp,'yyyy-MM-dd')}]]<br/>
			错误提示：[[${error}]]<br/>
			异常对象：[[${exception}]]<br/>
			异常消息：[[${message}]]<br/>
			<img src="asserts/img/404.gif" >
		</main>
	</div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!--C:\Users\yutin\.m2\repository\org\webjars\jquery\3.3.1-2\jquery-3.3.1-2.jar!\META-INF\resources\webjars\jquery\3.3.1-2\jquery.slim.min.js-->
<script type="text/javascript" src="asserts/js/jquery-3.2.1.slim.min.js" ></script>
<script type="text/javascript" src="asserts/js/popper.min.js" ></script>
<script type="text/javascript" src="asserts/js/bootstrap.min.js" ></script>

<!-- Icons -->
<script type="text/javascript" src="asserts/js/feather.min.js" ></script>
<script>
    feather.replace()
</script>

</body>

</html>